$primary-gradient: linear-gradient(180deg, #1ab094 0%, rgba(26, 176, 32, 0.6) 53.15%, #92b01a 100%);
$background-color: #f3f3f3;
$yellow: #e8f63d;
$dark-green: #1ab094;
$light-green: #5fdf4a;
$blue: #469aca;
$purple: #b266ee;
$red: #ff0000;

@mixin fw-500 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

@mixin fw-300 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}

@mixin fw-bold {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

@mixin text-sub {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.4);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin bs{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}