@import "../variable.scss";

.box-wrapper {
    @include bs;

    width: 100%;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title-top {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        img {
            margin-right: 0.8rem;
        }

        span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 29px;
        }
    }

    .box-item-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .box-item {
            display: flex;
            align-items: center;

            .img-wrapper {
                margin-right: 1rem;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img-wrapper.cash {
                background-color: $yellow;
            }

            .img-wrapper.goods{
                background-color: $dark-green;
            }

            .img-wrapper.profit{
                background-color: $light-green;
            }
            .img-wrapper.store {
                background-color: $blue;
            }

            .img-wrapper.dog{
                background-color: $dark-green;
            }

            .img-wrapper.cat{
                background-color: $purple;
            }

            span {
                @include text-sub;
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 2rem;
                line-height: 29px;
            }
        }
    }
}
