@import '../variable.scss';

.large-box-wrapper {
    width: 100%;
    min-height: calc(100vh - 250px);
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 2rem;
    padding-left: 5rem;
    position: relative;

    .add-btn-wrapper{
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2rem;
        left: 2rem;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        background: $primary-gradient;
    }
}
