@import "../variable.scss";

.order-item {
    width: 80%;
    min-height: 320px;
    background-color: white;
    @include bs;
    border-radius: 10px;
    padding: 1rem;

    .header,
    .sub-header {
        @include flex-between;
    }

    .header {
        span {
            text-transform: capitalize;
            font-size: 1.5rem;
        }

        .pending{
            color: $blue;
        }
        .success{
            color: $light-green;
        }
        .canceled{
            color: $red;
        }
    }

    .sub-header {
        @include fw-300;
    }

    .product-wrapper {
        margin-top: 1rem;

        .product-item {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;

            .img-wrapper {
                margin-right: 1rem;
            }

            .product-info {
                flex-grow: 1;

                p {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 18px;
                    margin-bottom: 0.5rem;
                }

                span {
                    @include text-sub;
                }
            }
        }
    }

    .footer{
        @include flex-between;

        .left{
            display: flex;
            flex-direction: column;

            span.total-items{
                @include text-sub;
            }

            span.total-price{
                @include fw-bold;
            }
        }

        .right{
            display: flex;

            .button{
                width: 30px;
                height: 30px;
                border: 1px solid;
                @include flex-center;
                margin-left: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.5s ease;
            }

            .button.success{
                color: $light-green;
            }

            .button.success:hover{
                background-color: $light-green;
                color: white;
            }
            
            .button.canceled{
                color: $red;
            }

            .button.canceled:hover{
                background-color: $red;
                color: white;
            }
        }
    }
}
