@import "../variable.scss";

.top-title-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    img {
        background-color: white;
        padding: 0.5rem;
        @include bs;
        margin-right: 1rem;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;

        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 29px;
        }

        span{
            @include text-sub;
        }
    }
}
