@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap");
header {
  width: 100%;
  min-height: 100px;
  background-image: linear-gradient(#0B79A0, #2B85A7, #046D96);
  z-index: 10;
  padding: 8px 10rem;
}
header .desktop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .desktop-wrapper .header-left {
  display: flex;
  align-items: center;
}
header .desktop-wrapper .header-left img {
  margin-right: 1rem;
}
header .desktop-wrapper .header-left a {
  text-decoration: none;
}
header .desktop-wrapper .header-left a span {
  text-transform: capitalize;
  color: #FBFBFB;
  font-size: 2.5rem;
}
header .desktop-wrapper .header-right {
  color: white;
  font-size: 1.2rem;
}
header .desktop-wrapper .header-right i {
  margin-right: 0.5rem;
}
header .desktop-wrapper .header-right i.bar {
  display: none;
}
header .desktop-wrapper .header-right span a {
  color: white;
  text-decoration: none;
}

@media (max-width: 769px) {
  header {
    position: relative;
    min-height: 70px;
    padding: 0.5rem 1rem;
  }
  header .desktop-wrapper .header-left img {
    height: 3rem;
  }
  header .desktop-wrapper .header-left a p {
    font-size: 1.5rem;
  }
  header .desktop-wrapper .header-right i {
    display: none;
  }
  header .desktop-wrapper .header-right i.bar {
    display: block;
    font-size: 2rem;
  }
  header .desktop-wrapper .header-right span {
    display: none;
  }
  header .header-collapse {
    width: calc(100% + 2rem);
    padding: 1rem 1.5rem;
    color: white;
    z-index: 999;
  }
  header .header-collapse ul {
    list-style: none;
  }
  header .header-collapse ul li i {
    min-width: 1.5rem;
  }
  header .header-collapse ul li a {
    color: white;
  }
}
footer {
  background-image: linear-gradient(#0B79A0, #2B85A7, #046D96);
  z-index: 10;
  width: 100%;
  height: 100px;
  padding: 8px 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-item {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
footer .footer-item a {
  text-decoration: none;
  margin-bottom: 0 !important;
  color: white;
}
footer .footer-item i {
  margin-right: 0.5rem;
}

@media (max-width: 376px) {
  footer {
    height: 70px;
    padding: 0 1rem;
  }
  footer .footer-item a {
    font-size: 0.8rem;
  }
  footer .footer-item i {
    font-size: 0.8rem;
  }
}
.login-wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  background-image: url("../images/LoginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login-wrapper .login {
  min-width: 350px;
  min-height: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 1.5rem;
  background: radial-gradient(98.75% 98.75% at 50% 0%, #2979A6 0%, rgba(41, 121, 166, 0.433334) 46.77%, rgba(41, 121, 166, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-wrapper .login h3 {
  color: white;
}
.login-wrapper .login .login-form-group {
  position: relative;
}
.login-wrapper .login .login-form-group i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.login-wrapper .login .login-form-group input {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  padding: 8px 1.8rem;
  border-bottom: 1px solid white;
}
.login-wrapper .login .login-form-group input::placeholder {
  color: white;
}
.login-wrapper .login .login-form-group .check-remember {
  margin-right: 0.5rem;
}
.login-wrapper .login .login-form-group label {
  color: white;
}
.login-wrapper .login .login-form-group.check {
  margin-top: 16px;
  width: 100%;
  padding: 0 2.3rem;
}
.login-wrapper .login button {
  border: none;
  outline: none;
  color: black;
  background-color: white;
  padding: 0.2rem 1.5rem;
  border-radius: 40px;
  margin: 1.5rem 0;
}
.login-wrapper .login .social-group {
  margin-bottom: 16px;
}
.login-wrapper .login .social-group a {
  margin: 0 8px;
}
.login-wrapper .login .social-group img {
  width: 40px;
  height: 40px;
}
.login-wrapper .login span,
.login-wrapper .login a {
  color: white;
  text-decoration: none;
}

.register-wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  background-image: url("../images/LoginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register-wrapper .register {
  min-width: 350px;
  min-height: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 1.5rem;
  background: radial-gradient(98.75% 98.75% at 50% 0%, #2979A6 0%, rgba(41, 121, 166, 0.433334) 46.77%, rgba(41, 121, 166, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.register-wrapper .register h3 {
  color: white;
}
.register-wrapper .register .register-form-group {
  position: relative;
}
.register-wrapper .register .register-form-group i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.register-wrapper .register .register-form-group input {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  padding: 8px 1.8rem;
  border-bottom: 1px solid white;
}
.register-wrapper .register .register-form-group input::placeholder {
  color: white;
}
.register-wrapper .register button {
  border: none;
  outline: none;
  color: black;
  background-color: white;
  padding: 0.2rem 1.5rem;
  border-radius: 40px;
  margin: 1.5rem 0;
}
.register-wrapper .register span,
.register-wrapper .register a {
  color: white;
  text-decoration: none;
}

.wrapper {
  height: calc(100vh - 200px);
  width: 100%;
  position: relative;
  background-image: url("../images/HomeBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20rem;
}
.wrapper .slogan {
  width: 22rem !important;
  position: absolute;
  top: 10%;
}
.wrapper .slogan span {
  color: white;
  font-size: 3rem;
}
.wrapper .left-slogan {
  width: 22rem !important;
  position: absolute;
  right: 10%;
  top: 40%;
}
.wrapper .left-slogan span {
  color: white;
  font-size: 3rem;
}
.wrapper .btn-explore {
  position: absolute;
  top: 40%;
  background-color: #6184C7;
  border-radius: 40px;
  padding: 1em 2em;
}
.wrapper .btn-explore p {
  margin: 0;
  color: white;
  font-size: 1rem;
}

@media (max-width: 769px) {
  .wrapper {
    height: calc(100vh - 140px);
    background-position: center;
  }
  .wrapper .slogan {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
  }
  .wrapper .slogan span {
    font-size: 1.5rem;
  }
  .wrapper .left-slogan {
    display: none;
  }
  .wrapper .btn-explore {
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
  }
}
.notfound-wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/LoginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.notfound-wrapper h1 {
  font-size: 5rem;
}
.notfound-wrapper p {
  width: 20%;
  font-size: 1rem;
  text-align: center;
}
.notfound-wrapper a {
  text-decoration: none;
  border: none !important;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  color: white;
  background-image: linear-gradient(#0B79A0, #2B85A7, #046D96);
}

header#main-header {
  background-image: none !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
header#main-header .main-header-desktop-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header#main-header .main-header-desktop-wrapper .left {
  display: flex;
  align-items: center;
}
header#main-header .main-header-desktop-wrapper .left a {
  color: black;
}
header#main-header .main-header-desktop-wrapper .left a span {
  font-size: 2rem;
  margin-left: 0.5rem;
}
header#main-header .main-header-desktop-wrapper .middle {
  position: relative;
}
header#main-header .main-header-desktop-wrapper .middle a {
  margin: 0 2rem;
  color: black;
  font-size: 1.2rem;
}
header#main-header .main-header-desktop-wrapper .middle a:hover {
  color: #E18847;
}
header#main-header .main-header-desktop-wrapper .right i {
  margin: 0 2rem;
  font-size: 1.2rem;
}
header#main-header .main-header-desktop-wrapper .right span a {
  font-size: 1.2rem;
  color: black;
}
header#main-header .main-header-desktop-wrapper .right span a:hover {
  color: #E18847;
}
header#main-header .main-header-desktop-wrapper i.bar {
  display: none;
}
header#main-header .main-header-desktop-wrapper .sub-wrapper {
  width: 80%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s;
  z-index: 100;
  background-color: white;
  padding: 8px 10rem 4rem 10rem;
  position: absolute;
  left: 50%;
  top: 110px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}
header#main-header .main-header-desktop-wrapper .sub-wrapper .sub-item {
  display: flex;
  flex-direction: column;
}
header#main-header .main-header-desktop-wrapper .sub-wrapper .sub-item a {
  color: black;
  font-size: 1.5rem;
}
header#main-header .main-header-desktop-wrapper .sub-wrapper .sub-item span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}
header#main-header .main-header-desktop-wrapper .sub-wrapper.active {
  visibility: visible;
  opacity: 1;
}
header#main-header .main-header-collapse {
  visibility: hidden;
}

@media (max-width: 769px) {
  header#main-header .main-header-desktop-wrapper .left img {
    height: 3rem;
  }
  header#main-header .main-header-desktop-wrapper .left a span {
    font-size: 1.7rem;
  }
  header#main-header .main-header-desktop-wrapper .right,
header#main-header .main-header-desktop-wrapper .middle {
    display: none;
  }
  header#main-header .main-header-desktop-wrapper i.bar {
    font-size: 1.5rem;
    display: block;
  }
  header#main-header .main-header-collapse {
    padding: 0.7rem 2rem;
    visibility: visible;
  }
  header#main-header .main-header-collapse ul {
    list-style: none;
  }
  header#main-header .main-header-collapse ul li a {
    color: black;
  }
}
section.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
section.slider i {
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  transition: color 0.5s;
}
section.slider i:hover {
  color: white;
}
section.slider i.left {
  left: 3%;
  top: 50%;
}
section.slider i.right {
  right: 3%;
  top: 50%;
}
section.slider .slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}
section.slider .slide-active {
  opacity: 1;
  transition-duration: 0.5s;
  flex-grow: 1;
}
section.slider .slider-controller {
  background-color: transparent;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
section.slider .slider-controller .item {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  margin: 0 16px;
  cursor: pointer;
}
section.slider .slider-controller .item.active {
  background-color: #E18847;
}

.category-wrapper .grid-wrapper .product-item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.15rem;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper {
  flex-grow: 1;
  position: relative;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper a.img img {
  height: 100%;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper {
  width: 100%;
  min-height: 50px;
  background-color: white;
  position: absolute;
  bottom: -10%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper button {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  flex-grow: 1;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper .favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper .favorite .focus {
  display: none;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper .favorite:hover {
  background-color: #e31b23;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper .favorite:hover i {
  display: none;
  color: white;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper .sub-wrapper .favorite:hover .focus {
  display: block;
}
.category-wrapper .grid-wrapper .product-item-wrapper .img-wrapper:hover .sub-wrapper {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.category-wrapper .grid-wrapper .product-item-wrapper a {
  color: black;
}
.category-wrapper .grid-wrapper .product-item-wrapper a .item-name {
  font-family: Roboto, sans-serif;
  font-weight: 300 !important;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
.category-wrapper .list-wrapper .list-item-wrapper a.product-name {
  color: black;
}
.category-wrapper .list-wrapper p.description {
  font-family: Roboto;
}
.category-wrapper .btn-group {
  display: flex;
  align-items: center;
}
.category-wrapper .btn-group button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 0.2rem 1rem;
}
.category-wrapper .btn-group .favorite {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45rem 0.5rem;
}
.category-wrapper .btn-group .favorite i.active {
  display: none;
}
.category-wrapper .btn-group .favorite:hover {
  background-color: #e31b23;
}
.category-wrapper .btn-group .favorite:hover i {
  display: none;
  color: white;
}
.category-wrapper .btn-group .favorite:hover i.active {
  display: inline-block;
}

.product-page .product-wrapper {
  padding: 0 10rem;
}
.product-page .product-wrapper .left .main-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-page .product-wrapper .left .main-img i {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.product-page .product-wrapper .left .main-img i.fa-arrow-left {
  left: 5%;
}
.product-page .product-wrapper .left .main-img i.fa-arrow-right {
  right: 5%;
}
.product-page .product-wrapper .left .main-img .slide {
  opacity: 0;
  transition-duration: 0.5s ease;
  height: 600px;
}
.product-page .product-wrapper .left .main-img .slide-active {
  height: 600px;
  opacity: 1;
  flex-grow: 1;
}
.product-page .product-wrapper .left .sub-img img {
  height: 100%;
  cursor: pointer;
}
.product-page .product-wrapper .right {
  display: flex;
  flex-direction: column;
}
.product-page .product-wrapper .right span.category,
.product-page .product-wrapper .right span.product-price,
.product-page .product-wrapper .right .product-description {
  font-size: 1.3rem;
  margin: 0.6rem 0;
}
.product-page .product-wrapper .right .product-description {
  max-width: 70%;
  font-family: Roboto;
}
.product-page .product-wrapper .right button {
  border: none;
  outline: none;
  background-color: #000;
  width: 20%;
  color: white;
  padding: 0.5rem 1rem;
}
.product-page .product-wrapper .right .favorite {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.product-page .product-wrapper .right .favorite .active {
  display: none;
}
.product-page .product-wrapper .right .favorite:hover {
  background-color: #e31b23;
}
.product-page .product-wrapper .right .favorite:hover i {
  display: none;
}
.product-page .product-wrapper .right .favorite:hover i.active {
  display: inline-block;
  color: white;
}

.rating-item-wrapper {
  max-width: 70%;
}
.rating-item-wrapper span.content {
  font-family: Roboto;
  font-size: 1.2rem;
}

body {
  font-family: "Righteous", cursive;
}
body main {
  min-height: calc(100vh - 200px);
}
body a {
  text-decoration: none;
}
body p {
  margin: 0;
}
body ul {
  padding: 0;
  margin: 0;
}
body .title-top {
  background-color: #f8f8f8;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .title-top span {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}
body hr {
  color: #bebdbd;
  height: 2px !important;
}

@media (max-width: 376px) {
  body main {
    min-height: calc(100vh - 140px);
  }
}
