.category-wrapper {
    .grid-wrapper {
        .product-item-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;

            padding: 0.15rem;

            .img-wrapper {
                flex-grow: 1;

                position: relative;

                a.img {
                    img {
                        height: 100%;
                    }
                }

                .sub-wrapper {
                    width: 100%;
                    min-height: 50px;

                    background-color: white;

                    position: absolute;
                    bottom: -10%;

                    z-index: 100;

                    display: flex;
                    justify-content: space-between;

                    visibility: hidden;
                    opacity: 0;

                    transition: all 0.6s;

                    button {
                        border: none;
                        outline: none;
                        color: white;
                        background-color: black;

                        flex-grow: 1;
                    }

                    .favorite {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        padding: 0 1rem;

                        cursor: pointer;

                        transition: all 0.5s;
                        .focus {
                            display: none;
                        }
                    }

                    .favorite:hover {
                        background-color: #e31b23;
                        i {
                            display: none;
                            color: white;
                        }

                        .focus {
                            display: block;
                        }
                    }
                }
            }

            .img-wrapper:hover .sub-wrapper {
                visibility: visible;
                opacity: 1;
                bottom: 0;
            }

            a {
                color: black;
                .item-name {
                    font-family: Roboto, sans-serif;
                    font-weight: 300 !important;
                    font-size: 1.3rem;

                    margin: 0.5rem 0;
                }
            }
        }
    }

    .list-wrapper {
        .list-item-wrapper {
            a.product-name {
                color: black;
            }
        }

        p.description {
            font-family: Roboto;
        }
    }

    .btn-group {
        display: flex;
        align-items: center;

        button {
            border: none;
            outline: none;
            background-color: black;
            color: white;
            padding: 0.2rem 1rem;
        }

        .favorite {
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.45rem 0.5rem;

            i.active {
                display: none;
            }
        }

        .favorite:hover {
            background-color: $heart-color;
            
            i {
                display: none;
                color: white;
            }

            i.active {
                display: inline-block;
            }
        }
    }
}
