@import './variable.scss';

.category-wrapper {
    padding-right: 10rem;
    padding-left: 10rem;

    h1 {
        font-family: Spartan;
        font-weight: 400;
    }

    p.sub {
        font-family: Spartan;
        font-weight: 300;
    }
}
