.checkout-wrapper {
    .checkout-body {
        padding: 0 10rem;

        h1{
            font-family: $second-font;
        }

        .payment-wrapper{
            img.method{
                cursor: pointer;
            }
        }

        .checkout-footer {
            display: flex;
            justify-content: flex-end;

            .confirm-wrapper {
                width: 200px;
                font-family: $second-font;

                button {
                    background-color: black;
                    color: white;
                    border: none;
                    outline: none;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }
            }
        }
    }
}
