.personal-wrapper {
    position: relative;

    img.background {
        position: absolute;
        top: 0;
        z-index: 0;
    }

    .body-wrapper {
        padding: 0 10rem;
        transform: translateY(20%);

        .row {
            position: relative;
            height: 60vh;

            .left,
            .right {
                z-index: 999;
                background-color: white;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
            }

            .left {
                display: flex;
                flex-direction: column;
                align-items: center;

                height: 100%;

                padding: 2rem 2.5rem;

                .avt {
                    background-image: url('https://i.ytimg.com/vi/1Ne1hqOXKKI/maxresdefault.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                }

                .pet-count {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                }
            }

            .right {
                transform: translateY(8%);
                position: relative;

                padding: 3rem 2.5rem;

                height: calc(100% - 7.2%);

                .profile-wrapper {
                    .edit-controller {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        cursor: pointer;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    .display-profile {
                        .profile-item {
                            margin-bottom: 0.8rem;

                            i {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }

                .history-wrapper {
                    display: flex;
                    overflow-x: auto;
                    padding: 1rem;

                    transform: translateY(25%);

                    .history-item {
                        box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5);
                        padding: 1rem 2rem;

                        min-width: 500px;

                        .header {
                            display: flex;
                            justify-content: space-between;

                            p {
                                font-size: 0.8rem;
                                font-family: $second-font;
                            }
                        }

                        .product-item {
                            margin-bottom: 1.5rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .history-left {
                                display: flex;
                                align-items: center;

                                img {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 100%;
                                    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.5);
                                    margin-right: 1.5rem;
                                }
                            }
                        }

                        .footer {
                            display: flex;
                            justify-content: space-between;

                            .f-right {
                                display: flex;

                                .confirm,
                                .remove {
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid;

                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    transition: color 0.2s;
                                }

                                .confirm{
                                    border-color: $success-color;
                                    color: $success-color;
                                }

                                .confirm:hover{
                                    background-color: $success-color;
                                    color: white;
                                }

                                .remove{
                                    border-color: $danger-color;
                                    color: $danger-color;
                                }

                                .remove:hover{
                                    background-color: $danger-color;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .tab-controller {
                position: absolute;
                top: 0;
                left: calc(16.1% + 48px);
                z-index: 999999;

                display: flex;

                .tab-item {
                    background-color: white;
                    padding: 0.8rem 1.5rem;
                    margin-right: 0.5rem;

                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
                    border-radius: 10px;

                    transition: all 0.5s;

                    cursor: pointer;

                    i {
                        margin-right: 0.2rem;
                    }
                }

                .tab-item.active {
                    background-color: #000;
                    color: white;
                }
            }
        }
    }
}
