.cart-wrapper {
    h1{
        text-align: center;
        text-transform: uppercase;
        font-family: Roboto;
    }

    table {
        font-family: Roboto;

        thead {
            text-transform: uppercase;
            color: #121212;
            opacity: 0.6;

            padding: 1rem 0;

            tr {
                th {
                    border-bottom: 1px solid #dee2e6 !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    position: relative;
                    img {
                        width: 10rem;
                        margin-right: 1rem;
                    }
                    span:not(.item-name) {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }

                    .counter-wrapper{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        p{
                            padding: 3px 10px;
                        }

                        .plus, .minus{
                            background-color: #f8f8f8;
                            transition: all 0.3s;
                            cursor: pointer;
                        }

                        .plus:hover, .minus:hover{
                            background-color: #d4d4d4;
                        }
                    }
                }
            }
        }
    }

    .order-summary {
        font-family: Roboto, Arial, Helvetica, sans-serif;

        background-color: #f8f8f8;

        .header, .footer{
            padding: 1.5rem;
        }

        .order-item{
            display: flex;
            justify-content: space-between;

            .title{
                font-size: 1rem;
            }

            .price {
                font-weight: bold;
            }
        }

        .header{
            border-bottom: 1px solid #dee2e6;

            span{
                font-size: 1.5rem;
            }
        }
        .footer{
            border-top: 1px solid #dee2e6;

            .title{
                font-size: 1.4rem;
            }
        }
    }

    .btn-checkout{
        width: 100%;
        border: none; 
        outline: none;
        background-color: $purple-color;
        color: white;
        font-family: Roboto;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        text-transform: uppercase;
    }
}
