@import './variable.scss';

.wrapper {
    height: calc(100vh - 200px);
    width: 100%;
    position: relative;

    background-image: url('../images/HomeBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: 20rem;

    .slogan {
        width: 22rem !important;

        position: absolute;
        top: 10%;

        span {
            color: white;

            font-size: 3rem;
        }
    }

    .left-slogan {
        width: 22rem !important;

        position: absolute;
        right: 10%;
        top: 40%;

        span {
            color: white;

            font-size: 3rem;
        }
    }

    .btn-explore {
        position: absolute;
        top: 40%;

        background-color: $purple-color;

        border-radius: 40px;

        padding: 1em 2em;

        p {
            margin: 0;
            color: white;

            font-size: 1rem;
        }
    }
}

@media(max-width: 769px){
    .wrapper{
        background-position: center;

        .slogan{
            left: 50%;
            transform: translateX(-50%);
            width: auto;

            text-align: center;

            span{
                font-size: 1.5rem;
            }
        }

        .left-slogan{
            display: none;
        }

        .btn-explore{
            left: 50%;
            top: 70%;
            transform: translateX(-50%);
        }
    }
}