$primary-color: #FBFBFB;
$start-gradient-color: #0B79A0;
$stop-gradient-color: #2B85A7;
$end-gradient-color: #046D96;
$radial-gradient-color: radial-gradient(98.75% 98.75% at 50% 0%, #2979A6 0%, rgba(41, 121, 166, 0.433334) 46.77%, rgba(41, 121, 166, 0) 100%);

$primary-font: "Righteous", cursive;

$main-height: calc(100vh - 200px);

$primary-hover-color: #E18847;
$purple-color: #6184C7;
$gray-color: rgba(0, 0, 0, 0.4);